PORT=3000
OWNER_EMAIL=vogbechie@gmail.com
FROM_EMAIL=hello@veltrodigital.co.uk
SMTP_HOST=smtp.veltrodigital.co.uk
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=hello@veltrodigital.co.uk
SMTP_PASS=replace-with-password
